// colors
$white: #fff;
$black: #000;
$crimson: #E31E59;
$greyFormat: #e1e1e1;
$greyPromotion: #a2a7ad;
$ultraLightenGrey: #C9D0DA;
$lightenGrey: #7E8DA5;
$grey: #293341;
$darkenGrey: #1F2938;
$textGrey: #333333;
$lightenBlue: #9BADCA;
$blue: #3E5C89;
$darkBlue: #afbbce;
$darkenBlue: #384457;

// colors-opacity
$opacityWhite: #ffffffcc;
$ultraOpacityWhite: #ffffff40;
$opacityLightenBlue: rgba(33, 76, 140, 0.05);
$opacityGrey: rgba(149, 166, 179, 0.31);
$opacityDark: rgba(41, 51, 65, 0.45);


// font-size
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs25: 25px;
$fs28: 28px;
$fs35: 35px;
$fs40: 40px;

// fonts
$black-word: black-word;
$extraBold-word: extraBold-word;
$bold-word: bold-word;
$semiBold-word: semiBold-word;
$medium-word: medium-word;
$regular-word: regular-word;
$light-word: light-word;

$black-num: black-number;
$bold-num: bold-number;
$medium-num: medium-number;
$regular-num: regular-number;
$light-num: light-number;