.crumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $textGrey;
  font-size: $fs16;
  font-family: $medium-word;
  .crumb {
    a {
      color: #818181;
      line-height: 150%;
      text-decoration: none;
      border-bottom: 1px solid #00000000;
      transition: .2s;
      &:hover {
        color: $textGrey;
        border-bottom: 1px solid $textGrey;
      }
    }
    &:last-child a {
      color: $textGrey;
    }
  }
}
@media screen and (max-width: 1279px) {
  .crumbs {
    font-size: $fs14;
  }
}
@media screen and (max-width: 1023px) {
  .crumbs {
    font-size: $fs16;
  }
}